<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud Nodejs</title>
    <link href="https://unpkg.com/ed-grid@3.0.0/src/css/ed-grid.min.css" rel="stylesheet">
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
    
   
    </style>
</head>
<body>
  <div class="form-group mx-sm-4 pt-5">
    <a href="../index.html"><input  id="boton" type="button" class="btn btn-primary btn-lg btn-block" value="Regresar"></a>   
     </div>
        <div class="rows-gap ed-grid s-grid-1 m-grid-1 lg-grid-1 xl-grid-1">
            <div class="container">
              <div class="card s-cross-center s-main-center">
                <h1 >Formulario 2 Empleados Temporales</h1>
                <div class="form-group">
                  <label >ID</label>
                  <input type="text" class="form-control" id="id" placeholder="Solo se ingresa para actualizar" >
                  </div>
                <div class="card-body ">
                <form id="formulario" >
                  <div id="form1" class="">
                   
                      <div class="form-group">
                        <label >Nombre</label>
                        <input type="text" class="form-control" id="nombre" >
                        </div>
                      <div class="form-group">
                        <label>Puesto</label>
                        <input type="text" class="form-control" id="puesto">
                      </div>
                      <div class="form-group">
                        <label>Lugar de Ingreso</label>
                        <input type="text" class="form-control" id="lugar">
                      </div>
                      <div class="form-group">
                        <label>Fecha de Ingreso</label>
                        <input type="date" class="form-control" id="fecha">
                      </div>
                      <div class="form-group">
                        <label>Telefono</label>
                        <input type="number" class="form-control" id="telefono">
                      </div>
                                      
                  </div>
                                 
                 
                </form>  
                <button id="guardar" class="btn btn-info w-100" value="hola" >Guardar</button> 
                <button id="actualizar" class="btn btn-info w-100" value="" >Actualizar</button>              
                </div>
               
              </div>
            </div>
            <div class="container">
                <table class="table table-bordered table-hover table-dark table-responsive">
                    <thead>
                      <tr>
                        <th>OPERACIONES</th>
                        <th>Nombre</th>
                        <th>Puesto</th>
                        <th>Lugar de Ingreso</th>
                        <th>Fecha de Ingreso</th>
                        <th>Telefono</th>
                       
                      </tr>
                      
                    </thead>
                    <tbody id="bodytable">
                        
                    </tbody>

                </table>
            </div>
         </div>
         <script type="text/javascript" src="../scrips/crud2.js"></script>
 </body>
</html>